:root {
    font-size: calc(0.7em + 1vw);
    --light-blue: #0090C9;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}
body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

body * + * {
    margin-top: 1em;
}


header {
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
    padding: 0 1.5em;
    overflow: auto;
}




.container {
    max-width: 1080px;
    margin: 0 auto;
}

.main {
    background-color: #fff;
    border-radius: .5em;
    padding: 1em 1em;
}

.media {  
    padding: 1em;
    background-color: pink;
    border-radius: .5em;
}


.media-image {
    float: left;
    margin-right: 1em;
}

.media-body {
    margin-top: 0;
    overflow: auto;
}

.media-body h4 {
    margin-top: 0;
}

.row {
    margin-left: -0.75em;
    margin-right: -0.75em;

}

.row::after {
    content: " ";
    display: block;
    clear: both;
}

[class*="column-"] {
    float: left;
    padding: 0 0.75em;
    margin-top: 0;
}

.column-1 { width: 8.3%; }
.column-2 { width: 16.6%; }
.column-3 { width: 25%; }
.column-4 { width: 33.3%; }
.column-5 { width: 41.6%; }
.column-6 { width: 50%; }
.column-7 { width: 58.3%; }
.column-8 { width: 66.6%; }
.column-9 { width: 75%; }
.column-10 { width: 83.3%; }
.column-11 { width: 91.6%; }
.column-12 { width: 100%; }