:root {
    box-sizing: border-box;
    font-size: calc(1vw + .6em)
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a:link {
    color: #1476b8;
    font-weight: bold;
    text-decoration-line: none;
}

a:visited {
    color: #1430b8;
}
a:hover {
    text-decoration: underline;
}

a:active {
    color: #b81414;
}

.page-header {
    margin: .4em 1em;
    background-color: #fff;
    position: relative;
}

.title > h1 {
    color: #333;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: .2em 0;
}

.slogan {
    color: rgb(49, 47, 47);
    font-size: .875em;
    margin: 0;
}

.hero {
    padding: 2em 1em;
    text-align: center;
    background-image: url(coffee.jpeg);
    background-size: 100%;
    color: white;
    text-shadow: .1em .1em .3em black;
}

main {
    padding: 1em;
}

.subtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: .875rem;
    text-transform: uppercase;
}

.menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background-color: transparent;
    font-size: 3em;
    white-space: nowrap;
    width: 1em;
    height: .8em;
    line-height: .4;
    text-indent: 5em;
    overflow: hidden;
}

.menu-toggle::after {
    position: absolute;
    color: black;
    top: .2em;
    left: .2em;
    display: block;
    content: "\2261";
    text-indent: 0;
}
.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}

.is-open .menu-dropdown {
    display: block;
}

.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: black;
    color: white;
}

.nav-menu > li + li {
    border-top: 1px solid #ccc;
}

.nav-menu > li > a {
    display: block;
    padding: .8em 1em;
    color: inherit;
    font-weight: normal;
    font-size: 1rem;
}