body {
    background-color: #709b;
    font-family: Helvetica, Arial, sans-serif;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1em;
    grid-auto-flow: dense;
}

.portfolio figure {
    background-color: rgb(137, 103, 216);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.portfolio figure > img {
    flex: 1;
    object-fit: cover;
    max-width: 100%;
}

.portfolio img {
    max-width: 100%;
}

.portfolio figcaption {
    padding: .3em .8em;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: right;
}

.portfolio .featured {
    grid-row: span 2;
    grid-column: span 2;
}