.container {
    display: flex;
    margin: 8em auto;
    max-width: 1000px;
    border: 2px solid lime;
}

.item {
    padding: 1em;
    border: 5px solid brown;
    margin: 1em;
}

.relative {
    position: relative;
    left:  1em;
    top: 2em;
}